<?xml version="1.0"?>
<config>
    <modules>
        <Ambimax_LoginInfo>
            <version>1.0.0</version>
        </Ambimax_LoginInfo>
    </modules>
    <global>
        <blocks>
            <ambimax_logininfo>
                <class>Ambimax_LoginInfo_Block</class>
            </ambimax_logininfo>
        </blocks>
        <helpers>
            <ambimax_logininfo>
                <class>Ambimax_LoginInfo_Helper</class>
            </ambimax_logininfo>
        </helpers>

    </global>
    <frontend>
        <layout>
            <updates>
                <ambimax_logininfo>
                    <file>ambimax/logininfo.xml</file>
                </ambimax_logininfo>
            </updates>
        </layout>
        <translate>
            <modules>
                <Ambimax_LoginInfo>
                    <files>
                        <default>Ambimax_LoginInfo.csv</default>
                    </files>
                </Ambimax_LoginInfo>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Ambimax_LoginInfo>
                    <files>
                        <default>Ambimax_LoginInfo.csv</default>
                    </files>
                </Ambimax_LoginInfo>
            </modules>
        </translate>
    </adminhtml>
</config>
