<?xml version="1.0"?>
<config>
    <sections>
        <customer>
            <groups>
                <startup>
                    <fields>
                        <display_logininfo translate="label comment">
                            <label>Display Login Info</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Show a message on the login screen.</comment>
                        </display_logininfo>
                        <logininfo_text translate="label comment">
                            <label>Displayed Text</label>
                            <comment>Text which should be displayed</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <display_logininfo>1</display_logininfo>
                            </depends>
                        </logininfo_text>
                    </fields>
                </startup>
            </groups>
        </customer>
    </sections>
</config>
